/* ==========================================================================
   #Content bottom styles - begin
   ========================================================================== */

.mkdf-content-bottom {
	
	.mkdf-content-bottom-inner {
		box-sizing: border-box;
		
		&.mkdf-grid {
			padding: 20px 0;
		}
		
		&.mkdf-full-width {
			padding: 20px 40px;
		}
	}
}

/* ==========================================================================
   #Content bottom styles - end
   ========================================================================== */